@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1a1a1a;
    color: white;
    font-family: "Chakra Petch", sans-serif;
}

/* --- FORCE ANIMATION HERE --- */
@keyframes marquee {
    0% {
        transform: translateX(1800px);
    } /* Starts off-screen to the right */
    100% {
        transform: translateX(-100%);
    } /* Moves all the way left */
}

.animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite; /* Adjust '20s' to change speed */
    will-change: transform;
}

.led-text {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}
